 
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
    margin: 0;
    background-color: black !important;
}
/* .Hero_section{
    background-image: url(../src/assets/images/car2.jpg);
    background-position: center;
    background-repeat: no-repeat;
} */
 
@keyframes slideIn {
  from {
    opacity: 0; 
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text {
  animation: slideIn 0.6s ease-out forwards;
}
img{
  border-radius: 5px;
}
.gallery_content{
  width: 50%;
  padding: 15px;
  padding-top: 40px;
}

.Footer a, h5, p{
  color:#fff !important;
}
.navbar .nav-link {
  color:  white !important;
      padding: 6px 20px !important;
      letter-spacing: 1.4px;
}
/* .navbar{
  background-color: #181818;
} */
.page-header {
    position: relative;
    background: url(assets/images/page-header-bg.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 46px;
    overflow: hidden;
    padding: 140px 0;
}
.page-header-box {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
}
.page-header h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}
.page-header p {
    font-size: 18px;
    margin-bottom: 0;
}
.tabimg{
  border-radius: 30px !important;
  height: 470px !important;
  width: 100% !important;
}
 
 